@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>
    <div class=" h-100 d-flex justify-content-center align-items-center">
        <div>
        <button type="button">Create a room</button>
        </div>
    </div>
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
