@page
@model RoomModel
@{
    ViewData["Title"] = "Home page";
}

<video id="player" playsinline width="1280" height="720" controls>
  <source src="https://asgard.joshwprice.com/2020-12-31%2003-31-25.webm" type="video/webm" />
</video>

<!-- <script>
    var mediaElem = document.querySelector("video");
    mediaElem.pause();
</script> -->
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
